@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-weight: bold;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2F5D8C;
}


.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    min-height: 90vh;
}

.container button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: aliceblue;
}

.container button:hover {
    background-color: white;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
    word-wrap: break-word;
    word-break: break-all;
}

.previous-operand {
    font-size: 1.2rem;
}

.current-operand {
    font-size: 2.5rem;
}

footer {
    text-align: center;
    color: #D8D8D6;
}